<p id="notice"><%= notice %></p>

<h1>Listing Camilos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camilos.each do |camilo| %>
      <tr>
        <td><%= camilo.name %></td>
        <td><%= camilo.age %></td>
        <td><%= link_to 'Show', camilo %></td>
        <td><%= link_to 'Edit', edit_camilo_path(camilo) %></td>
        <td><%= link_to 'Destroy', camilo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camilo', new_camilo_path %>
