<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @camilo.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @camilo.age %>
</p>

<%= link_to 'Edit', edit_camilo_path(@camilo) %> |
<%= link_to 'Back', camilos_path %>
