<h1>Ver Usuario</h1>
<p>
  <strong>Nombre:</strong>
  <%= @users.name %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @users.phone %>
</p>
<p>
  <strong>Correo electrónico:</strong>
  <%= @users.email %>
</p>
<p>
  <strong>Rol:</strong>
  <%= @users.role %>
</p>
<p>
  <strong>Comisión:</strong>
  <%= @users.commission %>
</p>
<p>
  <strong>Zona:</strong>
  <%= @users.zone %>
</p>
<br>
<%= link_to 'Ok', home_index_path %>