<p id="notice"><%= notice %></p>

<p>
  <h3><label>Documento</label></h3>
  <h4><%= @client.document %></h4>
</p>

<p>
  <h3><label>Nombre Completo</label></h3>
  <h4><%= @client.name %></h4>
</p>

<p>
  <h3><label>Correo Electrónico</label></h3>
  <h4><%= @client.email %></h4>
</p>

<p>
  <h3><label>Teléfono</label></h3>
  <h4><%= @client.phone %></h4>
</p>
<li><%= link_to "Realizar Intercambio", new_order_path(cliente: @client.email), :class =>"form-control" %></li>
