<h1>Bienvenido a Giros ColVen</h1>

  <% case current_user.role 
     when "Admin" %>
     <%= link_to "Ver Usuarios", users_path(:role => "All") %><br>
     <%= link_to "Ver Administradores", users_path(:role => "Admin") %><br>
     <%= link_to "Ver Comercios", users_path(:role => "Commerce") %><br>
     <%= link_to "Ver Distribuidores", users_path(:role => "Distributor") %><br>
     <%= link_to "Ver Clientes", clients_path %><br>
     <%= link_to "Ver Giros", orders_path %><br>
     <%= link_to "Ver Estadisticas", orders_path %><br>
  <% when "Commerce" %>
      <%= link_to "Ver Clientes", clients_path %><br>
      <%= link_to "Ver Giros", orders_path %><br>
      <%= link_to "Ver Estadisticas", orders_path %><br>
  
  <% when "Distributor" %>
      
  
  <% end %>
