<div class="field">
    <% case current_user.role 
        when "Admin" %>
            <center><h1 style="font-size: 250%; color: #FF9800;">Tasa de cambio vigente <label  id="Tasa">$ <%= (Setting.last.exchange_rate).round(3) %></label></h1></center>
        <% when "Commerce" %>
        <center><h1 style="font-size: 250%; color: #FF980;">Tasa de cambio vigente <label  id="Tasa">$ <%= (Setting.last.exchange_rate).round(3) %></label></h1></center>
            
            
            
            <div class="row">
                <center><h2>Simulador</h2></center>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <input type="number" style="font-size: 150%" id="Peso" onchange="Cambio()" class="form-control" placeholder="Pesos Colombianos">
                </div>
                <div class="col-md-2">
                    <strong><input type="text" style="font-size: 150%" id="Bolivar" class="form-control" placeholder="Bolivares" readonly></strong>
                </div>
                <div class="col-md-4"></div>
            </div>
            
            
            
        <div class="col-xs-6">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
        <% when nil %>
            <center><h1>Usted no tiene permiso para ver esta página</h1></center>
        <% when "Distributor" %>
        <center><h1 style="font-size: 250%;">Tasa de cambio vigente <label  id="Tasa">$ <%= (Setting.last.exchange_rate).round(3) %></label></h1></center>
            <div class="col-xs-6">
            
        </div>
        <div class="col-xs-6">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                
            </div>
            <div class="col-xs-2"></div>
        </div>
        <% when "Transfer" %>
            
        <% when "Wholesaler" %>
            <center><h1 style="font-size: 250%;">Tasa de cambio vigente <label  id="Tasa">$ <%=(Setting.last.exchange_rate).round(3) %></label></h1></center>
        <% end %>
        
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="border:1px solid black;">
                <center><h2><%= Comment.last.text %></h2></center>
            </div>
            <div class="col-md-3"></div>
            
        </div>
        <div class="row">
            <center><%= image_tag("Horarios", :class => 'img-responsive', size: "800") %> </center>
        </div>
</div>

<script>
    function Cambio()
    {
        var peso=document.getElementById("Peso").value;
        
        var completo=Math.round(peso/<%= Setting.last.exchange_rate %>);
        
        document.getElementById("Bolivar").value = completo;
        
        var num = 'BFS ' + completo.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        
        document.getElementById("Bolivar").value = num;
    }
</script>

