<%= form_for @order , :html => {:multipart => true} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> en el formulario:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <h1>La cuenta no tiene 20 carácteres exactos</h1>
        <script>
          window.alert("Por favor verifique la información e intente de nuevo");
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><label>Cliente</label></h2>
    
    <!--<%= select_tag("order[client_id]", options_from_collection_for_select(Client.all, "id", "name"), :class => 'form-control',:required => true) %>-->
    <input type="text" class="form-control" value="<%= params[:cliente] %>" name="client_email" required readonly>
    
  </div>
  <h1><b><strong>Datos de quien recibe</strong></b></h1>
  <div class="field">
    <h3><label>Valor de intercambio</label></h3>
    <%= f.number_field :value , :class => 'form-control',:required => true, :type => 'number' %>
  </div>
  <div class="field">
    <h3><label>Documento</label></h3>
    <%= f.text_field :document, :class => 'form-control' ,:required => true, :type => 'number' %>
  </div>
  <div class="field">
    <h3><label>Nombre completo</label></h3>
    <%= f.text_field :name , :class => 'form-control',:required => true %>
  </div>
  <div class="field">
    <h3><label>Número de cuenta</label></h3>
    <%= f.text_field :account, :class => 'form-control', :required => true, :type => 'number' %>
  </div>
  <div class="field">
    <h3><label>Nombre del Banco</label></h3>
    <%= f.text_field :bank, :class => 'form-control', :required => true %>
  </div>
    <div class="field">
    <h3><label>Tipo de cuenta (Ahorros/Corriente)</label></h3>
    <%= f.text_field :type_account, :class => 'form-control', :required => true %>
  </div>
  
  <br>
    <div class="actions">
      <%= submit_tag "Siguiente", :class => "btn btn-default" %>
    </div>
  <% if current_user.role=="Transfer" %>
    <div class="field">
    <label>Comprobante de pago</label>
    <%= f.file_field :voucher %>
    </div>
  <% end %>
    
<% end %> 
