<p id="notice"><%= notice %></p>

<h1>Transacciones</h1>
<div class="row">
<% if current_user.role == "Wholesaler" || current_user.role == "Distributor" || current_user.role == "Admin" %>
<% if params[:user] %>
  <form method="GET" action="/orders">
    <div class="col-md-11">
      
      <input type="date" class="form-control" name="fecha">
      <input type="hidden" value="<%= params[:user]%>" name="user">
    
    </div>
    <div class="col-md-1">
      
      <input type="submit" value="Buscar" class="form-control">
      
    </div>
  </form>
  <% end %>
<% end %>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <% case current_user.role
      when "Transfer" %>
        <th>Recibe</th>
        <th>Documento</th>
        <th>Cuenta</th>
        <th>Bolivares</th>
        <th>Estado</th>
        <th>Comentario</th>
        <th>Opciones</th>
      <% else%>
      <th>Remitente</th></th>
      <th>Recibe</th>
      <th>Documento</th>
      <th>Banco</th>
      <th>Cuenta</th>
      <th>Pesos</th>
      <th>Bolivares</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Zona</th>
      <th>Comercio</th>
      <th>Fecha y Hora</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th>Opciones</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
      <% case current_user.role
        when "Transfer" %>
        <td><%= order.name %></td>
        <td><%= order.document %></td>
        <td><%= order.account %></td>
        <td><%= number_to_currency(order.target_value, precision: 0) %></td>
        <td><%= order.status %></td>
        <td><%= order.commentary %></td>
        <td><%= link_to 'Ver comprobante', order %></td>
        <td><%= link_to 'Subir comprobante', edit_order_path(order) %></td>
      <% else%>
        <td><%= order.client.name %></td>
        <td><%= order.name %></td>
        <td><%= order.document %></td>
        <td><%= order.bank %></td>
        <td><%= order.account %></td>
        <td><%= number_to_currency(order.value, precision: 0) %></td>
        <td><%= number_to_currency(order.target_value, precision: 0) %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.zone %></td>
        <td>
        <% @us=User.where(:email => order.commerce).first %>
        <%= link_to order.commerce, user_path(User.where(:email => order.commerce).first), :class => 'fa fa-home', :style => 'text-decoration:none;' %>
        </td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
        <td><%= order.commentary %></td>
        <td><%= link_to 'Ver', order %></td>
      <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @orders %>