<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <p id="notice"><%= notice %></p>

<center><h3>Envía</h3></center>
<p>
<center>
  <strong>Nombre:</strong>
  <%= @order.client.name %>
</center>
</p>
<p>
<center>
  <strong>Teléfono:</strong>
  <%= @order.client.phone %>
</center>
</p>
<p>
<center>
  <strong>Valor:</strong>
  <%= number_to_currency(@order.value, precision: 0) %>
</center>
</p>
 <center><h3>Recibe</h3></center>
<p>
  <p>
<center>
<strong>Nombre:</strong>
  <%= @order.name %>
</center>
</p>
<center>
<strong>Documento :</strong>
  <%= @order.document %>
</center>
</p>

<p>
<center>
  <strong>Banco:</strong>
  <%= @order.bank %>
</center>
</p>

<p>
<center>
  <strong>Cuenta:</strong>
  <%= @order.account %>
</center>
<center>
  <strong>Tipo:</strong>
  <%= @order.type_account %>
</center>
</p>
<p>
<center>
  <strong>Comprobante de pago:</strong>
  <br>
  <img class="img-responsive" src="http://colvenintercambios.com/Vouchers/upload/<%= Digest::SHA1.hexdigest(@order.id.to_s)%>.jpg" onerror="this.src='http://colvenintercambios.com/Vouchers/upload/default.jpg'">
</center>
</p>

<center><%= link_to 'Ok', home_index_path %></center>
<center><%= link_to 'Cancelar Intercambio', cancel_order_path(@order), :class => "btn btn-danger", data: { confirm: '¿Estás seguro?' } %></center>
  </div>
  <div class="col-sm-3"></div>
</div>
