<!DOCTYPE html>
<html>
<head>
  <title>ColVen Intercambios</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= favicon_link_tag %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tag %>
</head>
<body>
<% if notice %>
  <p class="alert alert-success pull-right"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger pull-right"><%= alert %></p>
<% end %>

  
<%= yield %>
</div>
</body>
</html>
