<li><%= link_to "Todos los Usuarios", users_path(:role => "All"), :class => 'fa fa-home' %></li>
<li><%= link_to "Administradores", users_path(:role => "Admin"), :class => 'fa fa-home' %></li>
<li><%= link_to "Comercios", users_path(:role => "Commerce"), :class => 'fa fa-home' %></li>
<li><%= link_to "Distribuidores", users_path(:role => "Distributor"), :class => 'fa fa-home' %></li>
<li><%= link_to "Mayoristas", users_path(:role => "Wholesaler"), :class => 'fa fa-tags' %></li>
<li><%= link_to "Personal de Transferencias", users_path(:role => "Transfer"), :class => 'fa fa-tags' %></li>
<li><%= link_to "Bloqueados", users_path(:role => nil), :class => 'fa fa-tags' %></li>
<li><%= link_to "Clientes", clients_path, :class => 'fa fa-home' %></li>
<li><%= link_to "Reportes", report_index_path, :class => 'fa fa-tags' %></li>
<li><%= link_to "Reporte intercambios general", orders_path, :class => 'fa fa-home' %></li>
<li><%= link_to "Reporte Intercambios ultimas 24 horas", orders_path(:created_at => true ), :class => 'fa fa-home' %></li>
<li><%= link_to "Configuraciones", settings_path, :class => 'fa fa-setup' %></li>